@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth
  }
  body {
    @apply font-montserrat text-white overflow-x-hidden
  }
}

.text-border {
  -webkit-text-stroke: 2px #FFFFFF;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  @apply font-semibold text-7xl lg:text-9xl xl:text-[300px]
}
